footer{
    background: var(--mid-color);
    background: -webkit-linear-gradient(right, var(--mid-color), var(--secondary-color));
    background: -moz-linear-gradient(right, var(--mid-color), var(--secondary-color));
    background: linear-gradient(to left, var(--mid-color), var(--secondary-color));

    padding: .5em 0;
    box-sizing: border-box;
    color: var(--ligth-color);
}

footer span{
    display: inline-block;
    padding-top: .75em;
}

footer span > a, footer span > a:visited{
    color: var(--emphasis-color);
}

@media (min-width:1024px) {
    footer{
        padding: .5em 2em ;
    }
}