
.gallery{
    display: flex;
    align-items: center;
    margin: 1em 0;
    max-height: 75vh;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.center{
    position: relative;
}

.frame-container{
    display: inline-block;
    margin-right: 1em;
}

.frame img{
    box-sizing: border-box;
    width: 100%;
    border: 5px solid #000000;
    border-radius: 3px;
    padding: 2px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.frame img.shrink-height{
    width: auto;
    text-align: center;
    max-height: 70vh;
}
.frame figcaption{
    overflow: hidden;
    font-size: .75em;
    font-style: italic;
}

@media (min-width : 540px) {

    .frame figcaption{
        font-size: 1em;
    }
}

@media (min-width : 1200px) {
    .gallery{
        display: block;
        padding: 1em 0;
    }

    .frame img{
        width: auto;
        height: 65vh;
    }
}
